.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(71, 86, 223, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-brand,
.nav-link {
    color: var(--secondary) !important;
    transition: 0.2s all ease-in-out;
}

.nav-link:hover {
    opacity: 0.5;
}

.active {
    font-weight: 700;
    color: var(--primary) !important;
}